<%- include('header') %>

<div class="container d-flex justify-content-center align-items-center" style="min-height: 80vh;">
  <div class="card" style="width: 30%; padding: 20px;">
    <h2 class="text-center">สร้างสมาชิกใหม่</h2>
    <form action="/create_user" method="POST">
      <div class="form-group">
        <label for="usr">ชื่อในระบบ:</label>
        <input type="text" class="form-control" id="usr" name="usr" required>
      </div>
      <div class="form-group">
        <label for="pwd">รหัสผ่าน:</label>
        <input type="password" class="form-control" id="pwd" name="pwd" required>
      </div>
      <div class="form-group">
        <label for="confirmPwd">ยืนยันรหัสผ่าน:</label>
        <input type="password" class="form-control" id="confirmPwd" name="confirmPwd" required>
      </div>
      <div class="form-group">
        <label for="name">ชื่อพนักงาน:</label>
        <input type="text" class="form-control" id="name" name="name" required>
      </div>
      <div class="form-group">
        <label for="email">อีเมล:</label>
        <input type="email" class="form-control" id="email" name="email" required>
      </div>
      <div class="form-group">
        <label for="phone">โทรศัพท์:</label>
        <input type="text" class="form-control" id="phone" name="phone" required>
      </div>
      <div class="form-group">
        <label for="role">ตำแหน่ง:</label>
        <select class="form-control" id="role" name="role">
          <option value="Manager">Owner</option>
          <option value="Employee">Employee</option>
        </select>
      </div>
      <button type="submit" class="btn btn-primary btn-block" style="margin-top: 10px;">บันทึก</button>
    </form>
  </div>
</div>

<%- include('footer') %>

<script>
    function validatePassword() {
      const password = document.getElementById('pwd').value;
      const confirmPassword = document.getElementById('confirmPwd').value;
  
      if (password !== confirmPassword) {
        alert('รหัสผ่านไม่ตรงกัน กรุณาตรวจสอบอีกครั้ง');
        return false; // ป้องกันไม่ให้ส่งฟอร์มหากรหัสผ่านไม่ตรงกัน
      }
      return true;
    }
  </script>