<%- include('header') %>
<form method="GET">
<br>
<!-- Display total sales summary for the current user -->
<div class="text-center mb-4">
    <h2 style="font-size: 2rem; font-weight: bold;">พนักงาน: <%= currentUser.name %></h2>
</div>
<div id="sales-summary">
  <%- include('partials/sales_employee_partial', { totals }) %>
</div>
</form>

<%- include('footer') %>

<script>
  function refreshSalesSummary() {
    fetch('/gold_sales_employee_partial')
      .then(response => response.text())
      .then(html => {
        document.getElementById('sales-summary').innerHTML = html;
      })
      .catch(error => console.error('Error fetching sales summary:', error));
  }

  // Refresh every 10 seconds
  setInterval(refreshSalesSummary, 1000);
</script>

